<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
    <ol>
        <li><a class="dropdown-item" href="{% url 'prima_applicazione:homepage'%}">Home page</a></li>
        <li><a class="dropdown-item" href="{% url 'prima_applicazione:welcome'%}">Welcome</a></li>
        <li><a class="dropdown-item" href="{% url 'prima_applicazione:lista'%}">Lista</a></li>
        <li><a class="dropdown-item" href="{% url 'prima_applicazione:chi_siamo'%}">Chi siamo</a></li>
        <li><a class="dropdown-item" href="{% url 'prima_applicazione:variabili'%}">Variabili</a></li>
        <li><a class="dropdown-item" href="{% url 'seconda_applicazione:es_for'%}">es_for</a></li>
        <li><a class="dropdown-item" href="{% url 'seconda_applicazione:es_if'%}">if</a></li>
        <li><a class="dropdown-item" href="{% url 'seconda_applicazione:if_else_elif'%}">if_else_elif</a></li>
    </ol>
</body>
</html>